@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  outline: 0;
}
.mainBg {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  border-bottom: 0;
  color: inherit;
  margin-bottom: 0 !important;
}

button.blue {
  padding: 10px 35px;
  background-color: #72883f;
  color: #fff;
  border: 1px solid #72883f;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
}

h3 {
  color: #615c5c;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0px;
}

.mgTop20 {
  margin-top: 20px;
}

// Start of Home page css

main {
  background: #72883f;
  display: flex;
  justify-content: center;
  padding: 50px;
  min-height: 95vh;

  section {
    background: #fff;
    width: 70%;
    border-radius: 9px;
    padding: 0px 30px 50px 30px;

    input,
    select {
      border: 1px solid #72883f;
      border-radius: 7px;
      padding: 10px;
    }

    .searchMeal {
      margin-top: 30px;

      .inpSearch {
        margin-top: 50px;
        background: #fbfbfb;
        box-shadow: 0px 4px 14px 1px rgba(91, 153, 72, 0.4);
        border-radius: 15px;
        padding: 25px;
        display: flex;
        justify-content: space-between;

        input {
          width: 85%;
        }
      }

      .filter {
        h3 {
          margin-bottom: 15px;
        }

        background: #fbfbfb;
        box-shadow: 0px 4px 14px 1px rgba(91, 153, 72, 0.4);
        padding: 25px;
        border-radius: 15px;
        margin: 40px 0px;

        .flxFilter {
          display: flex;
          justify-content: space-between;

          select,
          input {
            width: 49%;
          }
        }
      }

      .results {
        margin-top: 40px;
      }

      .noResWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30vh;
        p {
          font-size: 25px;
        }
      }

      .loadWrapper {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .loading {
        height: 0;
        width: 0;
        padding: 15px;
        border: 6px solid #ccc;
        border-right-color: #72883f;
        border-radius: 22px;
        -webkit-animation: rotate 1s infinite linear;
        animation: rotate 1s infinite linear;
      }

      @-webkit-keyframes rotate {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes rotate {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      .flexMeals {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 25px;
      }
    }
  }
}

// End of Homepage Css

// Start of Recipe Css
.recipeWrapper {
  padding: 30px;
  padding-bottom: 200px;

  .flexRecPicIng {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;

    .leftReci {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 450px;
        border-radius: 10px;
      }
    }

    .rightReci {
      width: 45%;

      .flextags {
        display: flex;
        margin-top: 5px;

        span {
          margin-right: 5px;
          background: #9bb65b;
          border-radius: 5px;
          color: #fff;
          padding: 3px 8px;
        }
      }
    }
  }

  .flxCatrea {
    margin-top: 30px;
    display: flex;

    .lftCt {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  textarea {
    border: 1px solid #72883f;
    border-radius: 7px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
  }
}

button.fav {
  display: flex;
  align-items: center;
}

p.bl {
  border-bottom: 1px dashed #72883f;
}

li.instrc {
  list-style-type: none;
}

// End of Recipe Css

// Start of Area Css
.areaCnt {
  padding: 40px;

  .flexAreaMeals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 25px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  main {
    section {
      width: 85%;
      padding: 0px 20px 30px 20px;

      .searchMeal {
        .inpSearch {
          flex-direction: column;
          padding: 20px;
          margin-top: 30px;

          input {
            width: 100%;
            margin-bottom: 10px;
          }
        }

        .filter {
          padding: 20px;

          .flxFilter {
            flex-direction: column;

            select,
            input {
              width: 100%;
            }

            input {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  .recipeWrapper {
    padding: 20px;
    padding-bottom: 200px;

    .flexRecPicIng {
      flex-direction: column;
      align-items: center;

      .leftReci,
      .rightReci {
        width: 100%;
      }

      .leftReci {
        margin-bottom: 30px;

        img {
          max-width: 280px;
        }
      }
    }
  }
}
